.comment {
    padding: 5px;
}

.comment-even {
    background-color: white;
    border-bottom: 1px solid #c4cdd6;
}

.comment-odd {
    background-color: white;
    border-bottom: 1px solid #c4cdd6;
}

.comment:last-child {
    border-bottom-width: 0px;
}

.comments {
    padding: 2px;
    border: 0px solid #c4cdd6;
    border-radius: 0px;
    margin: 2px
}

.comment-creator {
    font-size: 10px;
    margin-bottom: 6px;
    margin-top: 6px;
    max-width: 500px;
    color: #c4cdd6
}

.comment-editing {
    width: 100%
}

.inline-spinner {
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
}

.comment-count-badge {
    position: absolute;
    right:-7px;
    top:7px;
    background:red;
    text-align: center;
    align-content: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:2px 4px 1px 3px;
    font-size:7px;
    line-height: normal;
    transition:opacity 1s ease-in-out;
}

.comment-drawer-button {
    font-size:2em;
    position:relative;
    padding-top:5px;
    display:inline-block;
}