.comment {
    padding-top: 5px;
    padding-bottom: 5px;
}

.comment .alert {
    margin-bottom: 0px;
}

.comment-editable {
    cursor: pointer;
}

.comment-even {
    background-color: white;
    border-bottom: 1px solid #c4cdd6;
}

.comment-odd {
    background-color: white;
    border-bottom: 1px solid #c4cdd6;
}

.comment:last-child {
    border-bottom-width: 0px;
}

.comments {
    border: 0px solid #c4cdd6;
    border-radius: 0px;
    display: grid;
}

.no-comments {
    padding-left: 3px;
}

.comment-creator {
    margin-left: 3px;
    margin-bottom: 4px;
    font-size: 10px;
    max-width: 500px;
    color: #c4cdd6
}

.comment-creator-inner {
    margin-bottom: 0px;
    margin-top: 0px;
}

.comment-editing {
    width: 100%
}

.inline-spinner {
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
}

.comment-count-badge {
    position: absolute;
    right: -7px;
    top: 7px;
    background: red;
    text-align: center;
    align-content: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 2px 4px 1px 3px;
    font-size: 7px;
    line-height: normal;
    transition: opacity 1s ease-in-out;
}

.comment-count-badge-loading {
    background: transparent !important;
    color: #0088a9 !important;
}

.comment-drawer-button {
    font-size: 2em;
    color: #0088a9;
    cursor: pointer;
    position: relative;
    padding-top: 5px;
    display: inline-block;
}

.comment-drawer-button:hover {
    color: #0088a9;
}

.mentions__highlighter {
    pointer-events: none;
    user-select: none;
    z-index: -10 !important;
}

.mentions__highlighter[style], .mentions__input[style] {
    padding: 5px 40px 5px 5px !important;
    font-size: 14px !important;
    color: #3a414c;
    box-sizing: border-box !important;
    min-height: 30px !important;
    line-height: 18px !important;
    z-index: 2;
    float: left;
    width: 100% !important;
    margin-bottom: 0;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    height: inherit !important;
}

.mentions {
    max-width: 100%;
    overflow-y: hidden;
    padding-bottom: 6px;
}

.mentions-min-height > .mentions__control > .mentions__input,
.mentions-min-height > .mentions__control > .mentions__highlighter {
    min-height: 50px !important;
}

.mentions__control {
    position: relative;
    z-index: 0;
    display: inline-flex;
    border-collapse: separate;
    width: 100%;
    max-width: 100%;
}

.mentions__control:focus {
    border-color: #0088A9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0px #74d4c2;
    outline: none;
}

.disabled textarea:focus {
    box-shadow: none;
}

.disabled textarea {
    margin: 1px;
    pointer-events: all;
    border: none;
    outline: none;
    box-shadow: none;
    user-select: text !important;
    color: transparent;
    display: inline-block;
    font-size: 2em;
    text-shadow: 0 0 0 black;
    width: 2em;
}

textarea {
    resize: vertical;
    user-select: text !important;
}

.mentions__input {
    border: 1px solid #c4cdd6;
    border-radius: 4px;
}

.mentions__input:focus {
    border-color: #0088A9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0px #74d4c2;
    outline: none;
}

.mentions__suggestions {
    margin-top: 22px !important;
    font-size: 14px;
    line-height: 1.286;
    color: #3a414c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c4cdd6;
    border-radius: 2px;
    position: relative;
    z-index: 6 !important;
    float: left;
    width: 100%;
    margin-bottom: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.mentions__suggestions__item__display {
    padding: 5px;
}

.mentions__suggestions__item--focused {
    background-color: #c4cdd6;

}

.mentions-edit {
    position: absolute;
    font-size: 18px;
    top: 6px;
    right: 0px;
    background-color: white;
    padding-left: 5px;
    cursor: pointer;
}

.mentions-ok {
    position: absolute;
    font-size: 18px;
    top: 5px;
    right: 20px;
    color: green;
    background-color: white;
    padding-left: 5px;
    cursor: pointer;
}

.mentions-cancel {
    position: absolute;
    font-size: 15px;
    top: 7px;
    right: 5px;
    color: red;
    background-color: white;
    padding-left: 5px;
    cursor: pointer;
}

.mentions__highlighter > strong {
    background-color: seashell;
}

.input-group-btn {
    vertical-align: top;
}

div:focus {
    outline-style: none;
}

.rcc-tooltip-wide .tooltip-inner {
    max-width: 35em; 
}
