@import url(https://fonts.googleapis.com/css?family=Open+Sans);.Select {
  position: relative; }

.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.Select.is-disabled > .Select-control {
  background-color: #f9f9f9; }

.Select.is-disabled > .Select-control:hover {
  box-shadow: none; }

.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
  opacity: 0.35; }

.Select-control {
  background-color: #ffffff;
  border-color: #c4cdd6;
  border-radius: 4px;
  border: 1px solid #c4cdd6;
  color: #3a414c;
  cursor: default;
  display: flex;
  border-spacing: 0;
  border-collapse: separate;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%; }

.Select-control .Select-input:focus {
  outline: none; }

.is-searchable.is-open > .Select-control {
  cursor: text; }

.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #c4cdd6; }

.is-open > .Select-control .Select-arrow {
  top: -1px; }

.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text; }

.is-focused:not(.is-open) > .Select-control {
  border-color: #41B5DC; }

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #8090a2;
  left: 0;
  line-height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.form-group .Select--single > .Select-control .Select-value {
  padding-top: 26px;
  line-height: 19px; }

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #3a414c; }

.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none; }

.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  color: #0088A9;
  outline: none;
  text-decoration: underline; }

.Select-input {
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle; }

.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 14px;
  padding: 16px 0; }

.form-group.form-group-active .Select-input > input {
  padding-left: 0;
  width: 100% !important; }

.is-focused .Select-input > input {
  cursor: text; }

.has-value.is-pseudo-focused .Select-input {
  opacity: 0; }

.Select-control:not(.is-searchable) > .Select-input {
  outline: none; }

.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 24px;
  align-self: center; }

.Select-loading {
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #c4cdd6;
  border-right-color: #0088A9;
  display: inline-block;
  position: relative;
  vertical-align: middle; }

.Select-clear-zone {
  animation: Select-animation-fadeIn 200ms;
  color: #0088A9;
  cursor: pointer;
  width: 20px;
  align-self: center;
  z-index: 3; }

.Select-clear-zone:hover {
  color: #00738E; }

.Select-clear {
  display: inline-block;
  font-size: 20px;
  line-height: 1; }

.Select--multi .Select-clear-zone {
  width: 17px; }

.Select-arrow-zone {
  align-self: center;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  margin-right: 17px;
  margin-left: 6px; }

.Select-arrow {
  height: 0;
  width: 0;
  position: relative;
  color: #0088A9;
  border: none;
  height: auto;
  margin: 0; }
  .Select-arrow:after {
    font-size: 18px;
    font-family: "FontAwesome";
    content: "\F107"; }

.is-open .Select-arrow:after {
  font-size: 18px;
  font-family: "FontAwesome";
  content: "\F106"; }

.Select-multi-value-wrapper {
  flex-grow: 1; }

.Select .Select-aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  float: left; }

@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #c4cdd6;
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 212px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 6;
  -webkit-overflow-scrolling: touch; }

.Select-menu {
  max-height: 210px;
  overflow-y: auto; }

.Select-option, .VirtualizedSelectOption {
  box-sizing: border-box;
  background-color: #fff;
  color: #0088A9;
  cursor: pointer;
  display: block;
  padding: 12px 10px; }

.Select-option:last-child, .VirtualizedSelectOption:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.Select-option.is-selected, .VirtualizedSelectSelectedOption {
  background-color: #edf3f9; }

.Select-option.is-focused, .VirtualizedSelectFocusedOption {
  background-color: #f8fafd;
  color: #00738E; }

.Select-option.is-disabled, .VirtualizedSelectDisabledOption {
  background-color: #F7F9FA;
  color: #c4cdd6;
  cursor: default; }

.Select-noresults {
  box-sizing: border-box;
  color: #8090a2;
  cursor: default;
  display: block;
  padding: 12px 10px; }

.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0; }

.Select--multi.has-value .Select-input {
  margin-left: 5px; }

.Select--multi .Select-value {
  margin-left: 9px;
  margin-top: 11px;
  background-color: #edf3f9;
  border: 1px solid #c4cdd6;
  border-radius: 2px;
  color: #697582;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  vertical-align: top; }

.form-group-active .Select--multi .Select-multi-value-wrapper {
  padding-left: 7px; }

.form-group-active .Select--multi .Select-value {
  margin-top: 21px; }

.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle; }

.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px; }

.Select--multi a.Select-value-label {
  color: #0088A9;
  cursor: pointer;
  text-decoration: none; }

.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  padding: 1px 5px 3px;
  color: #0088A9;
  font-size: 14px;
  font-weight: bold; }

.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  color: #00738E; }

.Select--multi.is-disabled .Select-value {
  background-color: #F7F9FA;
  color: #c4cdd6;
  border: 1px solid #c4cdd6;
  color: #3a414c; }

.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #c4cdd6; }

.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #F7F9FA; }

@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn); } }

@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn); } }

/*
  Styling exclusive to `react-select-plus`.
  https://github.com/HubSpot/react-select-plus
*/
.Select-option-group-label {
  color: #697582;
  font-weight: bold;
  padding: 8px 10px; }

.Select-option-group-label ~ .Select-option,
.Select-option-group-label ~ .Select-option-group {
  padding-left: 20px; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzZWxlY3QuY3NzIiwic291cmNlUm9vdCI6IiJ9*/


/* HACK */
.comments-add .Select-control {
  border-right: 0px;
  border-radius: 4px 0px 0px 4px;
}
/* END HACK */